.current-updates {
    height: 90vh;
    position: relative;
    border: solid 1px #f0f0f0;
    color: #f0f0f0;
    padding: 4%;
    justify-content: center;
  }
  
  .update-container {
    display: flex;
    justify-content: center;
    gap: 3%;
    height: 80%;
    align-items: stretch;
  }
  
  .bio {
    width: 40%;
    border: solid 1px #f0f0f0;
    height: 100%;
    text-align: left;

}

.bio h3{
    text-transform: uppercase;
    font-family: "Major Mono Display", monospace;
    font-style: normal;
    font-size: 3rem;
}

.bio,
.update-main {
  flex: 1; 
  /* display: flex; */
  flex-direction: column;
  justify-content: space-between;
  border: solid 1px #f0f0f0;
  box-sizing: border-box;
}

.resume-button {
  margin-top: 10px;
  padding: 10px 20px;
  background-color: transparent;
  color: white;
  /* border: 2px solid white; */
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
  transition: text-decoration 0.3s ease, color 0.3s ease, background-color 0.3s ease;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
    color: #f0f0f0;
    background-color: rgba(255, 255, 255, 0.1);
  }
}


  
  .update-main{
        width: 40%;
        border: solid 1px #f0f0f0;
        position: relative;
        overflow: hidden;
  }

  .update-card {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: flex-end;
    border: solid 1px #f0f0f0;
    position: relative;
    overflow: hidden;
    transition: transform 0.5s ease-in-out; /* Apply transition to entire card */
  }
  
  .update-card.slide-in {
    transform: translateX(100%);
  }
  
  .update-card.slide-out {
    transform: translateX(-100%);
  }
  
  .update-overlay {
    background-color: rgba(0, 0, 0, 0.6);
    padding: 20px;
    width: 100%;
  }
  
  .update-links a {
    color: #f0f0f0;
    text-decoration: none;
    padding: 5px 10px;
    background: rgba(255, 255, 255, 0.3);
    border-radius: 5px;
  }
  
  .current-updates h1 {
    color: #f0f0f0;
    text-transform: uppercase;
    font-family: "Major Mono Display", monospace;
    font-style: normal;
    font-size: 4rem;
  }
  