.data-card {
    position: relative;
    width: 100%;
    height: 40vh;
    overflow: hidden;
    background-size: cover;
    background-position: center;
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.607);
    cursor: pointer;
    transition: transform 0.3s ease-in-out, filter 0.3s ease-in-out;
    font-family: 'Bebas Neue', sans-serif;
    text-shadow: 0 6px 12px rgba(0, 0, 0, 0.7);
    margin-bottom: 5px;
  }
  
  .data-card:hover::before {
    transform: scale(1.1); 
    filter: brightness(0.5); 
  }
  
  .data-card::before {
    content: '';
    position: absolute;
    inset: 0;
    background-image: inherit;
    background-size: cover;
    background-position: center;
    z-index: 0;
    transform: scale(1);
    filter: brightness(0.7);
    transition: transform 0.3s ease-in-out, filter 0.3s ease-in-out;
  }
  
  .data-overlay {
    position: absolute;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    justify-content: right;
    align-items: center;
    z-index: 2; 
    opacity: 0; 
    transition: opacity 0.3s ease-in-out;
  }
  
  .data-overlay.show-description {
    opacity: 1;
  }
  
  .full-description {
    font-size: 1rem;
    color: white;
    text-align: center;
    padding: 20px;
  }
  
  .data-content {
    position: absolute;
    bottom: 20px;
    left: 20px;
    z-index: 3; 
    display: flex;
    flex-direction: column;
    color: white;
    text-align: left;
  }
  
  .data-header {
    display: flex;
    align-items: center;
    gap: 15px;
  }
  
  .data-logo {
    width: 3rem;
    height: 3rem;
    object-fit: contain;
    background-color: rgb(255, 255, 255);
    border-radius: 50%;
  }
  
  .data-title {
    font-size: 2rem;
    text-transform: uppercase;
    color: white;
    text-decoration: none;
    transition: all 0.5s ease;
    display: inline-block;
  }
  
  .data-title::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 1px; 
    background-color: white; 
    transition: width 0.9s ease; 
  }

  .data-title:hover::after {
    width: 100%; 
  }
  
  .data-subtitle,
  .data-date {
    font-size: 0.9rem;
    color: #f0f0f0;
    text-align: right;
    padding: 0;

  }
  
  .data-card.expanded .data-overlay {
    opacity: 1; /* Ensure overlay is shown when expanded */
  }
  
  .data-date {
    font-size: 0.9rem;
    color: #f0f0f0;
    margin-top: 5px;
  }
  
  .timeline-card .data-content {
    font-size: 0.8rem; /* Smaller font for timeline-specific cards */
  }
  
  .timeline-card .data-logo {
    width: 2.5rem; /* Adjusted logo size for timeline */
    height: 2.5rem;
  }
  
  .timeline-card .data-title {
    font-size: 1rem; /* Smaller title for timeline */
  }
  
  .timeline-card .data-subtitle,
  .timeline-card .data-date {
    font-size: 0.7rem; /* Smaller subtitle and date */
  }