.footer {
    background-color: #33333384;
    color: white;
    text-align: center;
    padding: 20px;
  }
  
  .footer-links {
    margin-top: 10px;
  }
  
  .footer-links a {
    color: #bbb;
    margin: 0 10px;
    text-decoration: none;
    transition: all 0.3s ease;
  }
  
  .footer-links a:hover {
    color: white;
    transition: all 0.3s ease;
  }
  