.projects {
    border: 1px white solid;
    margin-bottom: 10px;
    font-family: 'Bebas Neue', sans-serif;
  }
  
  .project-list {
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
  }
  
  .project-card {
    background-color: #fff;
    padding: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 250px;
    text-align: left;
  }
  
  .project-image {
    width: 100%;
    border-radius: 8px;
  }
  
  .project-card h3 {
    margin: 10px 0 5px;
  }
  
  .project-card p {
    font-size: 0.9rem;
    color: #555;
  }
  
  .project-card a {
    display: inline-block;
    margin-top: 10px;
    color: #007bff;
    text-decoration: none;
  }
  